/* creacion de propierties */
:root{
    /* definicion de fuentes */
    --fuentePrincipal:'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;


    --separacion: 5rem;


    /* definicion de colores */
    --primario: #1073BA;
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #E1E1E1;
}

/***********************************creacion de globales*************************************/

/* global para acomodar los width alternos que crea cada pagina */
html{
    box-sizing: border-box;
    /* acomodar los rem para que valgan 10px=1rem */
    font-size: 65.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* globales para uso en html*/

.contenedor{
    max-width: 120rem; /*1200px*/
    margin: 0 auto; /*centrar el contenido*/
    width: 90%; /*acomodar el contenido*/
}

h1, h2, h3{
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: 2,5rem 0;
}

h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

/*utilidades*/
.texto-center{
    text-align: center;
}

/*Degradados*/
.degradadoVerde{
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    /* una vez creado el degradado debemos aplicarlo con el background clip, sino solo funciona en el fondo */
    -webkit-background-clip: text;
    /* agregamos los dos de esta forma para que las demas plataformas como google lo puedan aceptar con el webkit*/
    background-clip: text;
}

/* HEADER */
.header{
    background-color: var(--negro);
    padding: 15rem 0;
    color: var(--blanco);
}

.header img{
    width: 100%;
    height: auto;
}

@media (min-width: 850px){
    .contenidoHeader{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.textoHeader{
    text-align: center;
    padding-top: var(--separacion);
}



@media(min-width: 850px){
    .textoHeader{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0;
    }
}
.textoHeader p{
    margin: 0;
}

.taglineProducto{
    font-size: 3rem;
    font-weight: 900;
}

.nombreProducto{
    font-size: 6rem;
    margin:0;
}

@media(min-width: 768px){
    .nombreProducto{
        font-size: 10rem;
        /* sacar el margin y la separacion */
        line-height: 1;
    }
}

.precioProducto span{
    font-size: 6rem;
    font-weight: 900;
}

/********************* Seccion Iconos ***********************/
.iconos{
    padding: var(--separacion) 0;
}
.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono img{
    width: 20%;
}
.icono h3{
    color:var(--primario);
    text-transform: uppercase;
    margin-top: 2rem;
}

@media(min-width: 850px){
    .iconos{
        display: flex;
        gap: 3rem;
    }
}

/********************* Sobre TatoPRO ***********************/

.sobreAuris{
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg); /*para llenarlo hay  que poner 0% ya que es es to bottom*/ /* luego de la coma se pone la imagen*/
    background-position: right;
    background-repeat: repeat, no-repeat; /*para que se repita la imagen*/ /*ya que para el linear gradient, tenemos dos imagenes, una el color y la otra la imagen*/
    background-size: 100%, 102rem; /*para que la imagen se ajuste al tamaño del contenedor*/
    /* background-size: cover; */
}

.sobreGrid{
   display: grid;
   grid-template-rows: repeat(2, 40rem);
   row-gap: 5rem;
}

@media (min-width:850px){
    .sobreGrid{
        grid-template-rows: unset; /*para eliminar las filas ya hechas*/
        grid-template-columns: repeat(2, 1fr);
        row-gap: unset;
        column-gap: 4rem;
        padding: 10rem 0;

    }

    .sobreAuris{
        background-image: linear-gradient(to left , transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg); /*cambiamos a to left para mostarlo de cosatdo a otros */
    }
}

.textoSobre{
    grid-row: 2 /3;
    color: var(--blanco);

    /* centrar texto  */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5rem;
}
@media(min-width: 850px){
    .textoSobre{
        padding-bottom: 0;
    }
}

.textoSobre h2{
    font-size: 4rem;
    margin: 0;
}

.textoSobre p{
    font-size: 2rem;
    line-height: 2;
}


/********************* Seccion Productos ***********************/
.modelos{
    padding: 5rem 0;
}

.tituloModelos{
    font-size: 5rem;
    padding-bottom: 5rem;
}

.listadoProductos{
   display: flex;
    flex-direction: column-reverse;
}



.modelo{
    background-color: var(--grisClaro);
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding-left: 4rem;
    color:var(--primario);
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*posicionar las imagenes*/
    background-position: 90% center; /*toma el 90% del ancho y lo centra*/
    background-size: 15rem; 

    /*mejor practica para transiciones ya que permite no usar el transition all y no perder memoria en el navegador*/
    transition-property: transform background-size;
    transition-duration: .3s;
}

.modelo:hover {
    transform: scale(1.1); /*para que se agrande al pasar el mouse en la escala */
    background-size: 25rem;
}

.modelo-z:hover{
    background-size: 30rem;
}
@media (max-width: 1100px){
    .modelo:hover{
        background-size:20rem;
    }
    .modelo-z:hover{
        background-size: 25rem;
    }
}

.modelo h3{
    font-size: 2.4rem;
}

.modelo .precio{
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.modelo:first-of-type{
    margin-bottom: 0;
}

.modelo-x{
    background-image: url(../img/modelo-x.svg);
    background-repeat: no-repeat;
    
}

.modelo-y{
    background-image: url(../img/modelo-y.svg);
    background-repeat: no-repeat;
  

}

.modelo-z{
    background-color: var(--primario);
    color:var(--blanco);
    background-image: url(../img/modelo-z.svg);
    background-repeat: no-repeat;
    background-size: 20rem;
}

.modelo-z .precio{
    font-size: 5rem;
}

@media(min-width: 850px){
    .listadoProductos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:3rem;
    }
    .modelo-x{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .modelo-y{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .modelo-z{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    
}


/********************* Seccion Newsletter ***********************/
.newSletter{
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:100%, 73rem;
}



.contenidoNew{
    display: grid;
    grid-template-rows: repeat(2, 30rem);
    gap: 5rem;
}

.textoNew{
    grid-row: 2/3;
}


.formulario input[type="email"]{
    width: 100%;
    padding: 1rem; /* usar padding para hacerlo mas grande*/ 
}

.formulario input[type="submit"]{
    width: 100%;
    padding: 2rem;
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: none;
    font-size: 3rem;
    font-weight: 900;
}

@media (min-width: 850px){
    .newSletter{
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
        background-position: center, -12rem -10rem;
        background-size: 100%, 100rem;
        padding: 10rem 0;
    }
    .contenidoNew{
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .textoNew{
        grid-row: unset;
        grid-column: 2/3;
    }
}


/********************* Seccion Footer ***********************/

footer p{
    text-align: center;
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--primario);
    font-weight: 900;
    padding: 2rem 0;
}